{% extends 'base.html.twig' %}

{% block title %}Error page - Daki Suki{% endblock %}

{% block content %}
    <div class="block-small">
        <h2>Error</h2>
        <p>Sorry, this page doesn't exist.</p>
        <a href="{{ path('home') }}" class="btn btn-success">Home</a>
    </div>
{% endblock %}